<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Your activity last month</h1>
        
    </div>
    <h2>Blogs posted</h2>
    {%for blog in data%}
    <div>
    <p>* {{blog['title']}}</p>
    <p>{{blog['no_of_likes']}}</p>
    <img width="200" height ="200" src="{{blog['image']}}" /> 
    {%endfor%}
    </div>
</body>
</html>